<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*@{
        ViewData["Title"] = "GetProducts";
    }*@

<h2>Products Details</h2>

@*<h1 class="mt-3">All_Products_Lists</h1>*@

<div class="mt-3">
    <button id="mybutton" onclick="location.href = 'https://localhost:44325/ProductMaster/AddProduct';" asp-controller="ProductMaster" asp-action="addAnotherProduct" type="button" class="btn btn-primary">Add Product</button>
</div>
<br />

@*<div class="mt-3">
        <button id="a" onclick="location.href = 'https://localhost:44325/ProductMaster/AddProduct';" asp-controller="ProductMaster" asp-action="GetProduct" type="button" class="btn btn-primary">Get Product</button>
    </div>
*@
@*<div class="d-flex justify-content-end">
        <a class="btn btn-secondary" asp-controller="ProductMaster" asp-action=""> Add product</a>
    </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="responseContainer"></div>
    <table id="data-table" class="table table-bordered">

        <thead>
            <tr>
                <th>ProductName</th>
                <th>ProductCategory</th>
                <th>ProductQuantity</th>
                <th>ProductPrice</th>
                <th>IsActive</th>
                <th>Edit Details</th>

                <td id="but" >
                        <a  asp-controller="productmaster" asp-action="updateproduct" class="btn btn-primary">edit</a>
                </td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/ProductMaster/GetProduct',
                method: 'GET',
                // dataType: 'json',
                success: function (response) {
                    var data = response.table;

                    for (var i = 0; i < data.length; i++) {
                        var row = $('<tr>');
                        row.append($('<td>').text(data[i].productName));
                        row.append($('<td>').text(data[i].product_Price));
                        row.append($('<td>').text(data[i].product_Quantity));
                        row.append($('<td>').text(data[i].product_Price));
                        row.append($('<td>').text(data[i].isActive));
                        //var butt = row.append($('<button>', { class: "btn btn-primary", id:"bts" }).text('Click Me'));
                        //var link = $('<a>', {
                        //    href: "/ProductMaster/UpdateProduct" 
                        //}).append(butt);
                        $('#but').clone().appendTo(row);
                        // Append more cells for additional columns

                        $('#data-table tbody').append(row);
                        
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error fetching data from the API:", error);
                }
            });
        });

        $('.btn btn-primary').click(function () {
            alert("button is clicked")
        });
    </script>
</body>
</html>

